*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
.page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}
.content {
  display: flex;
  align-items: flex-end;
  gap: 30px;
  inline-size: 1140px;
}
.result {
  width: 711px;
}
.result__video-container {
  position: relative;
  width: 100%;
  height: 386px;
  margin-bottom: 16px;
}
.result__video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  width: 100%;
}
.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
}
.search-form__fieldset {
  border: none;
}
.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
  cursor: pointer;
}
.search-form__textfield {
  border: none;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  background-color: transparent;
  appearance: none;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  width: 225px;
}
.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}
.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 3px;
}
.search-form__textfield:focus {
  outline: none;
}
.search-form__pseudo-checkbox {
  box-sizing: border-box;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
}
.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
}
.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}
.search-form__checkbox-list .search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}
.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 3px;
}
.search-form__checkbox:focus {
  outline: none;
}
.button {
  background-color: transparent;
  border: 1px solid currentColor;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  padding: 6px 15px;
}
.more-button {
  width: 100%;
}
.search-form__submit-button {
  width: 194px;
  align-self: flex-end;
}
.button:hover {
  text-decoration: underline;
}
.button:active {
  background-color: #545050;
}
.button:focus {
  outline: none;
}
.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 3px;
}
.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}
.content__list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 298px;
  overflow-y: auto;
  flex-grow: 1;
  gap: 30px;
  padding: 0 3px;
}
.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 16px;
}
.content__video-card-thumbnail {
  object-fit: cover;
  object-position: center;
  min-width: 194px;
  height: 103px;
}
.content__video-card-description-container {
  flex-grow: 1;
  min-width: 0;
}
.content__details {
  width: 399px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.content__list-item {
  padding-left: 3px;
  padding-right: 3px;
}
.title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  text-transform: uppercase;
  margin-bottom: 26px;
}
.content__accent {
  color: #545050;
}
.content__card-link {
  display: block;
  text-decoration: none;
  color: inherit;
}
.content__card-link_current {
  background-color: #545050;
}
.content__card-link:active {
  background-color: #545050;
}
.content__card-link:hover .content__video-card-title,
.content__card-link:hover .content__video-card-description {
  text-decoration: underline;
}
.content__card-link:focus {
  outline: none;
}
.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 3px;
}
.content__video-card-title {
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  line-height: 16.2px;
  font-weight: 400;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}
